body{
    background: rgb(236, 236, 236);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;

}

#title, .subtitle, .posttitle {
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(44, 44, 48);
}

a{
    text-decoration: underline;
    color: darkslategray;
}

.photo{
    margin: 0;
    border-radius: 50%;
    border: 1px  solid #000;
}

.posttitle{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: justify;
}
.postcontent{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;

}
.post_image{
    margin-bottom: 15px;
}

.list{
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
}
.list li a {
    color: blue;
}



